body {
    background: black;
    font-family: "Comic Sans MS"; 
}

.index {
    margin: 35% auto;
    width: 50%;
    border: orange dashed 2px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background: white;
    width: 50%;
    margin: 2% auto;
    font-size: 20px;
}