html {
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    max-width: 800px;
}

header, footer {
    background: rgb(150 20 30);
    color: white;
    line-height: 100px;
    padding: 0 20px;
}

.new-note, .show-notes {
    padding: 20px;
}

.new-note {
    background: #0f0f
}

h1 {
    margin: 0
}

ul {
    list-style-type: none;
}

div {
    margin-bottom: 10px;
}