body {
    text-align: center;
}


.imageContainer {
    display: flex;
    flex-direction: column;
    margin: 2% auto;
    border: green dashed 5px;
    width: 400px;
    height: 400px;
    cursor: pointer
}

img {
    width: 100%;
    height: 100%;
}

button {
    cursor: pointer;
}